*~
/base-dir
/build/
/debian/.debhelper/
/debian/files
/debian/fs-uae-launcher
/debian/fs-uae-launcher.debhelper.log
/debian/fs-uae-launcher.postinst.debhelper
/debian/fs-uae-launcher.prerm.debhelper
/debian/fs-uae-launcher.substvars
.DS_Store
*.egg-info
fontconfig
fs-uae-launcher-*
fs-uae-launcher_*
/.idea/tasks.xml
/.idea/workspace.xml
/Launcher-*
/Launcher_*
Lib
/Makefile
*.mo
*.pot
/.pybuild/
*.pyc
/pyinstaller/
*.pyo
/setup.py
*.swp
venv
__pycache__/
