.DS_Store
*.egg-info
*.mo
*.pot
*.pyc
*.pyo
*.swp
*~
/.idea/tasks.xml
/.idea/workspace.xml
/.pybuild/
/base-dir
/build/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/fs-uae-launcher
/debian/fs-uae-launcher.debhelper.log
/debian/fs-uae-launcher.postinst.debhelper
/debian/fs-uae-launcher.prerm.debhelper
/debian/fs-uae-launcher.substvars
/Launcher_*
/Launcher-*
/pyinstaller/
fontconfig
fs-uae-launcher_*
fs-uae-launcher-*
Lib
