*~
/base-dir
/build/
/build-dir/
/build.fs/
/debian/*debhelper*
/debian/.debhelper/
/debian/files
/debian/files
/debian/fs-uae-launcher
/debian/fs-uae-launcher.debhelper.log
/debian/fs-uae-launcher.postinst.debhelper
/debian/fs-uae-launcher.prerm.debhelper
/debian/fs-uae-launcher.substvars
/debian/*substvars*
/dist.fs/
.DS_Store
*.egg-info
/.flatpak-builder/
fontconfig
fs-uae-launcher-*
fs-uae-launcher_*
/.idea/tasks.xml
/.idea/workspace.xml
/Launcher-*
/Launcher_*
Lib
*.mo
/.mypy_cache/
*.pot
/.pybuild/
*.pyc
/pyinstaller
*.pyo
/src/icons/Makefile
/repo/
/venv/
/.vscode/.ropeproject/objectdb
