[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
mypy = "*"
nose = "*"
pylint = "*"
pytest = "*"
pytest-mypy = "*"
rope = "*"

[packages]
lhafile = "*"
macholib = "*"
pefile = "*"
pillow = "*"
pyinstaller = "*"
pyobjc-core = {version = "", sys_platform = "== 'darwin'"}
pyobjc-framework-cocoa = {version = "", sys_platform = "== 'darwin'"}
pyobjc-framework-quartz = {version = "", sys_platform = "== 'darwin'"}
pyopengl = "*"
pyqt5 = "==5.15.3"
pywin32-ctypes = "*"
requests = "*"
sentry-sdk = "*"
typing-extensions = "*"

[requires]
python_version = "3"
