[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
nose = "*"
pyinstaller = "*"
pylint = "*"
pytest = "*"
pytest-mypy = "*"
rope = "*"

[packages]
macholib = "*"
pefile = "*"
pillow = "*"
pyopengl = "*"
pyqt5 = "*"
pywin32-ctypes = "*"
importlib-metadata = {version = "*", sys_platform = "== 'darwin'"}
requests = "*"
sentry-sdk = "*"
typing-extensions = "*"

[requires]
python_version = "3"
