/32x32/application-x-firmware.png
/32x32/applications-games.png
/32x32/audio-card.png
/32x32/drive-harddisk.png
/32x32/go-home.png
/32x32/media-floppy.png
/32x32/media-optical.png
/32x32/system-shutdown.png
