[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.10b0"
mypy = "*"
nose = "*"
pylint = "*"
pytest = "*"
pytest-mypy = "*"
rope = "*"

[packages]
autologging = "*"
lhafile = "*"
macholib = "*"
pefile = "*"
pillow = "*"
pyinstaller = "*"
pyobjc-core = {version = "", sys_platform = "== 'darwin'"}
pyobjc-framework-cocoa = {version = "", sys_platform = "== 'darwin'"}
pyobjc-framework-quartz = {version = "", sys_platform = "== 'darwin'"}
pyopengl = "*"
pyqt5 = "==5.8.2"
pyqt5-sip = "==4.19.13"
pywin32-ctypes = "*"
requests = "*"
rx = "*"
sentry-sdk = "*"
typing-extensions = "*"

[requires]
python_version = "3.7"
