name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # Linux_x86-64:
  #   runs-on: ubuntu-18.04

  #   steps:

  #   - uses: actions/checkout@v2
  #     with:
  #       fetch-depth: 0

  #   - name: Set up Python 3.9
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: 3.9

  #   - name: Install dependencies
  #     run: |
  #       python -m pip install --upgrade pip pipenv

  #   - name: Check Python version
  #     run: |
  #       which python
  #       python --version
  #       which python3
  #       python3 --version
  #       which python3.9
  #       python3.9 --version
  #       which pipenv
  #       pipenv --version

  #   - name: Update version
  #     run: fsbuild/version --update --auto

  #   - name: Run pipenv install
  #     run: |
  #       pipenv install --deploy
        
  #   - name: Build
  #     run: |
  #       pipenv run fsbuild/build

  #   - name: Bundle
  #     run: |
  #       pipenv run fsbuild/bundle

  #   - name: Archive
  #     run: fsbuild/archive

  #   - uses: actions/upload-artifact@v2
  #     with:
  #       name: Linux_x86-64
  #       path: fsbuild/_dist/*

  #   - name: Install dropbox package
  #     if: github.ref == 'ref/head/master'
  #     run: python3 -m pip install dropbox

  #   - name: Upload build to Dropbox folder
  #     if: github.ref == 'ref/head/master'
  #     run: fsbuild/upload
  #     env:
  #       DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
  #       DROPBOX_ACCESS_TOKEN: ${{ secrets.DROPBOX_ACCESS_TOKEN }}

  macOS_x86-64:
    runs-on: macos-10.15

    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Download Python
      run: |
        wget https://www.python.org/ftp/python/3.9.2/python-3.9.2-macosx10.9.pkg
        echo "86e099ad1cee81e2b84680de69ac7200fe2b4e86e5c410f0eb5effd12db72862 *python-3.9.2-macosx10.9.pkg" > SHA256SUMS
        shasum -c SHA256SUMS

    - name: Install Python
      run: |
        sudo installer -pkg python-3.9.2-macosx10.9.pkg -target /

    - name: Check Python version
      run: |
        which python3
        python3 --version
        which python3.9
        python3.9 --version


  # Windows_x86-64:
  #   runs-on: windows-2016
      
  #   defaults:
  #     run:
  #       shell: msys2 {0}

  #   steps:

  #   - uses: actions/checkout@v2
  #     with:
  #       fetch-depth: 0

  #   - uses: msys2/setup-msys2@v2
  #     with:
  #       install: >-
  #         make
  #         zip
  #       path-type: inherit
  #       update: true

  #   - name: Download Python
  #     run: |
  #       wget https://www.python.org/ftp/python/3.9.2/python-3.9.2-amd64.exe
  #       echo "bc95bcbb879006d2a3e5f8bef6d7ec8b8e9368d4fe14e6cd4abdf1cd5166bcc3 *python-3.9.2-amd64.exe" > SHA256SUMS
  #       sha256sum -c SHA256SUMS

  #   - name: Install Python
  #     shell: cmd
  #     run: |
  #       START /WAIT python-3.9.2-amd64.exe /install /quiet PrependPath=1

  #   - name: Create python3 alias
  #     run: |
  #       export PYTHONDIR=$LOCALAPPDATA/Programs/Python/Python39
  #       cp $PYTHONDIR/python.exe $PYTHONDIR/python3.exe

  #   - name: Add Python to PATH
  #     run: |
  #       echo $LOCALAPPDATA/Programs/Python/Python39/Scripts >> $GITHUB_PATH  
  #       echo $LOCALAPPDATA/Programs/Python/Python39 >> $GITHUB_PATH

  #   - name: Update version
  #     run: |
  #       fsbuild/version --update --auto

  #   - name: Install pipenv
  #     run: |
  #       python3 -m pip install --upgrade pip pipenv

  #   - name: Run pipenv install
  #     run: |
  #       pipenv install --deploy

  #   - name: Create python3 alias in virtualenv
  #     run: |
  #       pipenv run bash -c 'cp $VIRTUAL_ENV/Scripts/python.exe $VIRTUAL_ENV/Scripts/python3.exe'

  #   - name: Build
  #     run: |
  #       pipenv run bash -c 'fsbuild/build'

  #   - name: Bundle
  #     run: |
  #       fsbuild/bundle

  #   - name: Archive
  #     run: fsbuild/archive

  #   - uses: actions/upload-artifact@v2
  #     with:
  #       name: Linux_x86-64
  #       path: fsbuild/_dist/*

  #   - name: Install dropbox package
  #     if: github.ref == 'ref/head/master'
  #     run: python3 -m pip install dropbox

  #   - name: Upload build to Dropbox folder
  #     if: github.ref == 'ref/head/master'
  #     run: fsbuild/upload
  #     env:
  #       DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
  #       DROPBOX_ACCESS_TOKEN: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
